html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(182, 213, 191, 0.788);
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(73, 118, 86);
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(73, 118, 86);
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}

header h1, h2 {
    margin: 0;
    color: white;
}

.intro div {
    width: 80%;
    margin: auto;
}

.preamble {
    background-color: rgb(128, 178, 142);
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}

.preamble h3 {
    margin-top: 0;
}

#zen-supporting {
    width: 80%;
    margin: auto;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
}

#zen-supporting div {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.sidebar .wrapper {
    background-color: rgb(128, 178, 142);
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px 40px;
}

.sidebar a {
    color: rgb(207, 233, 214);
}